@charset "utf-8";
/* CSS Document */

/*我的购物车   开始*/
.myCart { width:100%; display:inline-block;}
p.topPic { width:100%; margin:20px 0px; background:url(../images/shopcarttitle.png) no-repeat center 0px; height:41px;}
.myCart table { width:100%; border:1px solid #d7d7d7;}
.myCart table thead td { text-align:center; font-size:14px; height:32px; background:url(../images/theadbj.jpg) repeat-x; line-height:31px; border-bottom:1px solid #d7d7d7;}
.myCart table tbody td { text-align:center; padding:14px 0px; border-bottom:1px dashed #d1d1d1; color:#333;}
.myCart table tbody td a.cartRed { margin-left:28px}
.myCart table tbody td a.favorite { display:block; color:#328EBF; margin-bottom:3px;}
.myCart table tbody td a.delete { color:#328EBF;}


.myCart p.p02 { width:100%; padding:10px 0px;}
.myCart p.p02 input { margin:0px 8px 0px 15px; position:relative; top:3px; float:left; _margin:0px 3px 0px 11px; _top:0px; +margin:0px 3px 0px 11px; +top:0px}
.myCart p.p02 a  { color:#328EBF; margin-right:15px;}
.myCart p.p02 a.del  { margin-left:15px;}

.myCart ul.cartUl01 { float:right; width:217px; overflow:hidden;}
.myCart ul.cartUl01 li { width:100%; white-space:nowrap; overflow:hidden; float:left; padding:5px 0px;}
.myCart ul.cartUl01 li span { float:left; margin-left:5px;}
.myCart ul.cartUl01 li label,.myCart ul.cartUl01 li strong { float:right;}
.myCart ul.cartUl01 li label { color:#333;}
.myCart ul.cartUl01 li strong { font-size:18px; color:#ffb777;}
.myCart ul.cartUl01 li strong em { font-style:normal; font-family:微软雅黑;}
.myCart ul.cartUl01 li b { font-size:14px;}
.myCart ul.cartUl01 li a { width:77px; text-align:center;}
.myCart ul.cartUl01 li a.jie { margin-left:23px;}

.cartBanner { width:100%; height:169px; background:#e5e5e5; clear:both; margin:15px 0px 10px;}
/*我的购物车   结束*/

/*填写核对信息  开始*/
.checkInformation { display:inline-block; width:100%;}
.checkInformation p.topPic {background-position:center -41px;}

.checkInforCon { width:938px; border:1px solid #D7D7D7; padding:0px 10px; overflow:hidden; display:inline-block; margin-bottom:10px;}
.checkInforCon ul { display:inline-block; width:100%; margin-top:-1px;}
.checkInforCon ul li { width:100%; border-top:1px dashed #D1D1D1; color:#333; padding:10px 0px;}

.deliveryInfo01 { width:100%;}
.deliveryInfo01 a { color:#1491CB; margin-left:30px;}
.deliveryInfo01 i { font-style:normal; color:#1491CB; margin:0px 10px;}

.deliveryInfo02 { width:100%;}
.deliveryInfo02 dl.dl01 { width:926px; border:1px solid #D7D7D7; background:#E5EDF0; padding:5px 0px 15px 10px;}
.deliveryInfo02 dl.dl01 dd,.deliveryInfo02 dl.dl01 dt { width:100%; padding:5px 0px;}
.deliveryInfo02 dl.dl01 dd input { position:relative; top:2px; margin-right:5px; _top:0px; +top:0px;}
.deliveryInfo02 dl.dl01 dd label { display:inline-block; width:691px;}
.deliveryInfo02 dl.dl01 dd a { color:#1491CB;}
.deliveryInfo02 dl.dl01 dd i { font-style:normal; color:#1491CB; margin:0px 10px;}

.deliveryInfo02 table { margin-top:10px;}
.deliveryInfo02 table td { padding:5px 0px;}
.deliveryInfo02 table td i { font-style:normal; color:red; position:relative; top:3px; _top:1px; +top:1px;}
.deliveryInfo02 table td input.input01 { width:160px; height:23px; line-height:23px; padding-left:5px; border:1px solid #D7D7D7; margin-right:20px;}
.deliveryInfo02 table td input.input02 { border:1px solid #D7D7D7; width:60px; height:23px; line-height:23px; padding-left:5px; color:#999;}
.deliveryInfo02 table td input.input03 { border:1px solid #D7D7D7; width:90px; height:23px; line-height:23px; padding-left:5px; color:#999; margin-right:15px;}
.deliveryInfo02 table td em { font-style:normal; margin:0px 5px; color:#999;}
.deliveryInfo02 table td span.gray { color:#989898; margin-left:10px;}
.deliveryInfo02 table td select { border:1px solid #D7D7D7; margin-right:10px;}

.checkInforCon ul li dl.dl02 { width:100%;clear:left}
.checkInforCon ul li dl.dl02 dd { padding:5px 0px;}
.checkInforCon ul li dl.dl02 dd input { margin-right:3px; position:relative; top:2px; _top:0px; +top:0px;}
.checkInforCon ul li dl.dl02 dd label { display:inline-block; width:125px;}
.checkInforCon ul li dl.dl02 dd span i { font-style:normal; color:#E77900}

.checkInforCon ul li p.p03 { padding:5px 0px;}
.checkInforCon ul li p.p03 input { width:120px; padding-left:5px; height:23px; line-height:23px; border:1px solid #D7D7D7;}
.checkInforCon ul li p.p03 span { margin-left:12px; color:#E97800;}
.checkInforCon ul li p.p03 span i { font-style:normal; position:relative; top:3px; _top:1px; +top:1px}

.checkInforCon ul li dl.dl03 { width:100%;}
.checkInforCon ul li dl.dl03 dd { padding:5px 0px;}
.checkInforCon ul li dl.dl03 dd input { position:relative; top:2px; _top:2px; +top:2px;}
.checkInforCon ul li dl.dl03 dd label { display:inline-block; width:125px; margin-left:5px;}
.checkInforCon ul li dl.dl03 dd span { color:#999;}

.shopList { width:938px; border:1px solid #D7D7D7; padding:0px 10px; overflow:hidden; display:inline-block; margin-bottom:10px;}
.shopList p.tongyongP { padding-top:10px;}
.shopList table.table01 { width:100%; border:1px solid #d7d7d7;}
.shopList table.table01 thead td { text-align:center; font-size:14px; height:32px; background:url(../images/theadbj.jpg) repeat-x; line-height:31px; border-bottom:1px solid #d7d7d7;}
.shopList table.table01 tbody td { text-align:center; padding:14px 0px; border-bottom:1px dashed #d1d1d1; color:#333;}
.shopList table.table01 tbody td strong.strong01,.shopList table.table01 tbody td span.freight { display:block;}
.shopList table.table01 tbody td strong.strong01 { color:#E87A01}

.shopList div.cartProName { width:281px;}

.shopListCon { display:inline-block; width:100%;}
.shopListConLeft { float:left; width:414px; padding-left:10px;}
.shopListConRight { float:right; width:210px;}

.shopListConLeft table { width:414px;}
.shopListConLeft table td { padding:5px 0px; color:#333;}
.shopListConLeft table textarea { width:230px; height:71px; border:1px solid #d7d7d7;}
.shopListConLeft table input.input01 { width:225px; height:30px; line-height:30px; padding-left:5px; border:1px solid #D7D7D7; margin-right:29px;}
.shopListConLeft table span { display:block; line-height:30px; color:#666;}

.shopListConRight ul li { float:left; display:inline; padding:8px 0px; width:100%; color:#333;}
.shopListConRight ul li span { float:left;}
.shopListConRight ul li label { float:right;}
.shopListConRight ul li strong { font-size:20px; color:#E87A01; font-weight:300; position:relative; top:-4px;}
.shopListConRight ul li .brown { float:right; font-size:18px;}
/*填写核对信息  结束*/

/*下单成功   开始*/
.orderSuccess p.topPic { background-position:center -82px;}

.orderSucCon { width:938px; border:1px solid #D7D7D7; padding:15px 10px 10px; background:#E5EDF0; margin-bottom:10px;}
.orderSucCon ul li { width:100%; color:#333; padding-bottom:10px;}
.orderSucCon ul li b { margin:0px 20px 0px 30px;}
.orderSucCon ul li b i { font-style:normal; font-size:14px; color:#E77900;}
.orderSucCon ul li a.brown { padding:2px 10px;}
.orderSucCon ul li a.repeat { margin-left:75px;}
.orderSucCon ul li a.a01 { border:1px solid #ACC3CB; margin-right:10px; padding:3px 20px; color:#1890CD;}
.orderSucCon ul li a:hover.a01 { border:1px solid #1691CD; text-decoration:none;}
.orderSucCon ul li span { color:#E97800; font-weight:bold;}

.shopListConRight span.last { font-size:14px; font-weight:bold; color:#333;}
.shopListConRight span.span01 { margin-left:43px;}

.checkInforCon dd { padding-bottom:8px;}
dl.dlSuc dd a {margin-left: 10px;background-color: #1790cb;padding: 2px 8px;font-size: 14px;text-align: center;font-weight: bold;font-size: 14px;display: inline-block;text-shadow: 0 1px 0 #6b8393;color: #fff;}
/*下单成功   结束*/

/*支付成功  开始*/
.paymentSuc { display:inline-block; width:100%;}
.paymentSuc p.topPic {background-position:center -123px;}
.paymentSucCon { width:958px; border:1px solid #D7D7D7; padding:60px 0px;}
.paymentSucCon ul { width:510px; display:inline-block; margin-left:237px;}
.paymentSucCon ul li { display:inline; float:left; color:#333;}
.paymentSucCon ul li ins { float:left; background:url(../images/paymentSuc01.jpg) no-repeat; width:125px; height:124px; margin-right:15px;}
.paymentSucCon ul li strong { color:#E67900; font-size:16px; margin-top:5px; display:block;}
.paymentSucCon ul li p { padding:25px 0px 18px 0px; white-space:nowrap;}
.paymentSucCon ul li p span { margin-left:25px;}
.paymentSucCon ul li b { color:#E67900;}
.paymentSucCon ul li a.orderDet { margin-right:19px;}
/*支付成功  结束*/
/*购物车第一步  开始*/
.Ucatop p.tishiP { height:33px; line-height:33px; color:#333; padding-left:25px; position:relative; border:1px solid #D9868E; background:url(../images/cart.png) no-repeat 10px -24px #F7F3E7;}
.Ucatop p.tishiP a { background:url(../images/cart.png) no-repeat right -64px; position:absolute; width:9px; height:9px; right:10px; top:10px;}
.Ucatop p.tishiP i { position:absolute; background:url(../images/cart.png) no-repeat 0px -93px; width:16px; height:11px; left:123px; bottom:-11px;}
.Ucatop ul { display:inline-block; width:100%; margin-top:15px; color:#333;}
.Ucatop ul li { float:left; display:inline; line-height:27px;}
.Ucatop ul li span.jin { display:inline-block; background:url(../images/cart.png) no-repeat; width:120px; height:12px; position:relative; top:3px;}
.Ucatop ul li span.jin i { float:left; background:url(../images/cart.png) no-repeat 0px -17px; max-width:113px; width:40%; height:5px; margin:3px 0px 0px 3px;}
.Ucatop ul li p.textIn {width:235px; height:25px; padding-left:5px; border:1px solid #d7d7d7; margin-left:15px;}
.Ucatop ul li p.textIn input { width:235px; border:none; font-size:14px; float:left; margin-top:4px}
.Ucatop ul li p.numP { padding-top:3px;}
.Ucatop ul li input.blue { margin:0px 10px 0px 15px;}
.Ucatop ul li span.red i { font-size:14px;}
.Ucatop ul li input.jie { margin-left:10px;}
.Ucatop h2 { text-align:right; font-size:12px; font-weight:normal; padding:10px 0px 5px;}
ul.ulNC01 li { padding:5px 0px; text-align:right; color:#333;}
ul.ulNC01 li strong { font-size:18px;}
ul.ulNC01 li input { float:right; margin-left:15px;}
/*购物车第一步  结束*/
/*购物车第二步  开始*/
a.openA { padding:5px 0px; display:block;}
.deliveryInfo02 dl.dl01 p { text-align:center;}
.shopList p.textRight { padding-bottom:5px;}

.billInfo { border:1px solid #d7d7d7; padding:0px 10px 10px; margin-top:10px;}
.billICon h3 { border:1px solid #d7d7d7; padding:0px 10px 10px; background:#F2F2F2;}
.billICon h3 dl dd { font-weight:normal; font-size:12px; padding-bottom:3px;}
table.normalT01 { width:100%; margin-top:10px;}
table.normalT01 td { padding:5px 0px; color:#333;}
table.normalT01 td span.tex01 { float:left; width:165px;height:23px; border:1px solid #d7d7d7;}
table.normalT01 td span.tex01 input { float:left; margin:4px 0px 0px 5px; width:160px; border:none;_border:0;}

/*购物车第二步  结束*/
.blueBlock { display:inline-block; padding:0px 5px; height:20px; line-height:20px; background:#1890CC; color:white; clear:both;}
.brownblock { display:inline-block; margin:3px auto 0px; width: 65px; height:20px; line-height:20px; color:white; background:#FA890F; clear:both;}
/*购物车3*/
.car_box{ border:1px solid #d7d7d7; width:381px; margin:10px auto auto auto; padding:10px; line-height:30px; text-align:center}
.car_bj{background:url(../images/car3_03.jpg) no-repeat bottom; height:7px; display:block;}
.car_box b{ color:#E67900;}
.paymentSucCon dl{ line-height:30px;}
.paymentSucCon dl dt{ font-weight:bold;}
.paymentSucCon dl dd{ color:#999;}
.paymentSucCon dl dd span{ color:#333; display:block; float:left; width:150px;}

/*第三方支付 跳出支付成功 支付失败页面  样式 start*/
@charset "utf-8";
/*弹出层*/
#pop_overlay{position:absolute;z-index: 99998;top:0;left:0;background-color:#000;width:100%;height:100%;}
#pop_container{border-radius:5px;position:absolute;z-index: 99999;overflow:hidden;color:#000;}
#pop_header{height:66px;line-height:66px;background:#f6f6f6;}
#pop_title{font-size:20px;color:#666;padding-left:35px;}
#pop_close{cursor:pointer;width:20px;height:100%;display:block;margin-right:30px;float:right;background:url(../images/icon_popup.png) no-repeat;}
#pop_close a{font-size:13px;}

/*付款成功*/


.pay_nobg{ position:fixed;z-index:100;top:0px;left:0px;height:100%;width:100%;background:rgba(0,0,0,0.4);}
.pay_no{ position: fixed;top:40%;left:50%; width:450px; margin-left:-190px; }
.pay_no a{ width:170px; height:50px; display:block; display:inline-block;line-height:50px; text-align:center; color:#fff; margin:0 20px; font-size:20px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;-webkit-box-shadow:2px 1px 3px rgba(15, 15, 15, 0.5);
    -moz-box-shadow:2px 1px 3px rgba(15, 15, 15, 0.5);
    box-shadow:2px 1px 3px rgba(15, 15, 15, 0.5);}
.pay_no01{ background:#ef1e1f; }
.pay_no02{ background:#17a8eb; border:1px solid #6c6c6c}

/*第三方支付 跳出支付成功 支付失败页面  样式 end*/