.wrap980{
	width:980px;
}
.align-center{
	margin:0 auto;
}
.pr{
	position:relative;
}
.pa{
	position:absolute;
}
.pdt30{
	padding-top:30px;
}
.pd10{
	padding:10px;
}
.pdtb15{
	padding:15px 0 15px 0;
}
.ml30{
	margin-left:30px;
}
.red{
	color:#c44004;
}
.height-auto{
	height:auto!important;
}
.bgc_body{
	background-color:#ffffff;
	background-image:url(../images/body_bg.jpg);
	background-position:center 82px;
	background-repeat:repeat-x;
}
/*header*/
.header{ position:relative; z-index:4;
	width:100%;
	min-width:980px;
	height:83px;
	background:#fff url(../images/bgs_repeat_x.jpg) repeat-x 0 39px;
	font-family:"微软雅黑","黑体";
    margin-bottom:17px;
}
.header .top-t{
	height:38px;
	position:relative;
	z-index:2;
	padding-left:205px;
	line-height:22px;
}
.header .top-t a{
	color:#c33f04;
}
.header .top-t .m-banner{
	position:relative;
	padding:0 10px;
	top:5px;
}
.header .top-t .s-line{
	background:url(../images/pis.jpg) no-repeat 1px -154px;
	width:8px;
	height:22px;
	display:inline-block;
	position:relative;
	top:5px;
}
.header .top-t .notice{
	padding-top:7px;
}
.header .top-t .notice .s{
	background:url(../images/pis.jpg) no-repeat 0 -185px;
	width:22px;
	height:22px;
	display:block;
	float:left;
}
.header .top-t .notice a{
	color:#e44801;
}
.header .top-t .notice a:hover{
	text-decoration:none;
	color:#FF9463;
}
.header .menu {
	position:relative;
	z-index:2;
	margin-left:195px; 
}
.header .menu li{
	float:left;
	line-height:26px;
	
}
.header .menu li a{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display:block;	
	height:28px;
	float:left;
	padding:0 15px;
	position:relative;
	top:10px;
}
.header .menu li a span{
	display:none;
	position:absolute;
	top:0;
	right:0;
	width:7px;
	height:28px;
	
}
.header .menu li a:hover{
	text-decoration:none;
	background:url(../images/pis.jpg) no-repeat 0 -230px;
}
.header .menu li a:hover span{
	display:block;
	background:url(../images/pis.jpg) no-repeat -100px -230px;
}
.header .menu li a.selected{
	text-decoration:none;
	background:url(../images/pis.jpg) no-repeat 0 -230px;
}
.header .menu li a.selected span{
	display:block;
	background:url(../images/pis.jpg) no-repeat -100px -230px;
}
.header .menu li i{
	display:block;
	background:url(../images/pis.jpg) no-repeat;
	width:6px;
	height:29px;
	position:relative;
	top:10px;
	float:left;
}
.header .logo{
	position: absolute;
	top:0;
	left:0;
	z-index:1;
	width:213px;
	height:108px;
}
.header .logo img{
	width:100%;
	height:100%;
	background:url(../images/sunshine_logo.jpg) no-repeat;
}
.header .search{
	width:188px;
	height:26px;
	background:url(../images/pis.jpg) no-repeat 0 -69px;
	margin-top:6px;
	padding:5px 0 0 5px;
}
.header .search .txt{
	width:136px;
	height:16px;
	border:0;
	padding:2px;
	line-height:16px;
	color:#fff;
	background:none;
}
.header .search .txt:focus{
	background:#fff;
	color:#000;
}
.header .search .s{
	width:35px;
	height:22px;
	background:url(../images/transparent.gif) repeat;
	border:0;
	cursor:pointer;
}
.header .faq{
	width:44px;
	height:31px;
	background:url(../images/pis.jpg) no-repeat -192px -69px;
	margin-top:6px;
}
.header .cart{
	width:40px;
	height:31px;
	background:url(../images/pis.jpg) no-repeat -237px -69px;
	margin-top:6px;
}
/*md cenntent*/
.centent{
	width:980px;
	margin:0 auto;
}
/*分页点*/
.b {
	text-align:center;
	padding:10px 0;
}
.b a{
	width:11px;
	height:16px;
	display:inline-block;
	background:url(../images/cus_banner_b.gif) no-repeat -16px 0px;
	cursor: pointer;
	overflow:hidden;
	text-indent:-10em;
	margin:0 1px;
}
.b a.selected{
	background:url(../images/cus_banner_b.gif) no-repeat -1px 0;
}
/*footer*/
.footer{
	width:100%;
	min-width:980px;
	background:#C64003 url(../images/footer_bgrepeat.jpg) repeat-x ;
	min-height:65px;
	_height:65px;
	padding-top:20px;
}
.footer a{
	color:#ff9463;
}
.footer .bottom-nav{
	color:#ff9463;
	font-family:"微软雅黑","黑体";
}
.footer .bottom-nav a{
	padding:0 5px 0 3px;
}
.footer .bottom-nav .c{
	padding-left:20px;
}
.footer .cs{
	width:172px;
	padding-top:47px;
	background:url(../images/cs_tel.jpg) no-repeat;
	position:absolute;
	top:-8px;
	right:5px;
	text-align:right;
}
.jiathis_f{
	height:20px;
	padding:3px;
}
/*max-banner*/
.cus-banner {
    height: 354px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 940px;
}
.cus-banner .b {
    left: 0;
    position: absolute;
    text-align: center;
    top: 320px;
    width: 940px;
    z-index: 500;
}
.cus-banner .b a {
    background: url("../images/cus_banner_b.gif") no-repeat scroll -15px 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    overflow: hidden;
    text-indent: -10em;
    width: 11px;
}
.cus-banner .b a.selected {
    background: url("../images/cus_banner_b.gif") no-repeat scroll 0 0 transparent;
}
.cus-banner .round {
    background: url("../images/round.gif") no-repeat scroll 0 0 transparent;
    height: 41px;
    position: absolute;
    width: 58px;
    z-index: 100;
}
.cus-banner .round.r1 {
    left: 0;
    top: 0;
}
.cus-banner .round.r2 {
    background-position: right top;
    right: 0;
    top: 0;
}
.cus-banner .round.r3 {
    background-position: left bottom;
    bottom: 0;
    left: 0;
}
.cus-banner .round.r4 {
    background-position: right bottom;
    bottom: 0;
    right: 0;
}
/* 分页 */
.pb{}
.pagebox{overflow:hidden; zoom:1; font-size:12px; font-family:"宋体",sans-serif;}
.pagebox span{float:left; margin-right:2px; overflow:hidden; text-align:center; background:#fff;}
.pagebox span a{display:block; overflow:hidden; zoom:1; _float:left;}
.pagebox span.pagebox_pre_nolink{border:1px #ddd solid; width:53px; height:21px; line-height:21px; text-align:center; color:#999; cursor:default;}
.pagebox span.pagebox_pre{color:#F0753A; height:23px;}
.pagebox span.pagebox_pre a,.pagebox span.pagebox_pre a:visited,.pagebox span.pagebox_next a,.pagebox span.pagebox_next a:visited{border:1px #F0753A solid; color:#F0753A; text-decoration:none; text-align:center; width:53px; cursor:pointer; height:21px; line-height:21px;}
.pagebox span.pagebox_pre a:hover,.pagebox span.pagebox_pre a:active,.pagebox span.pagebox_next a:hover,.pagebox span.pagebox_next a:active{color:#363636; border:1px #EA4901 solid;}
.pagebox span.pagebox_num_nonce{padding:0 8px; height:23px; line-height:23px; color:#fff; cursor:default; background:#F0753A; font-weight:bold;}
.pagebox span.pagebox_num{color:#3568b9; height:23px;}
.pagebox span.pagebox_num a,.pagebox span.pagebox_num a:visited{border:1px #F0753A solid; color:#F0753A; text-decoration:none; padding:0 8px; cursor:pointer; height:21px; line-height:21px;}
.pagebox span.pagebox_num a:hover,.pagebox span.pagebox_num a:active{border:1px #EA4901 solid;color:#363636;}
.pagebox span.pagebox_num_ellipsis{color:#393733; width:22px; background:none; line-height:23px;}
.pagebox span.pagebox_next_nolink{border:1px #ddd solid; width:53px; height:21px; line-height:21px; text-align:center; color:#999; cursor:default;}
/*pop*/
.pop-address{
	width:625px;
	display:none;
	border:1px solid #fff;
	color:#A78874;
	position:relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px #dbd9d6;
	-moz-box-shadow: 0px 0px 8px #dbd9d6;
	box-shadow: 0px 0px 8px #dbd9d6;
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#efe9dd));
	background: -webkit-linear-gradient(#FFFFFF, #efe9dd);
	background: -moz-linear-gradient(#FFFFFF, #efe9dd);
	background: -ms-linear-gradient(#FFFFFF, #efe9dd);
	background: -o-linear-gradient(#FFFFFF, #efe9dd);
	background: linear-gradient(#FFFFFF, #efe9dd);
	-pie-background: linear-gradient(#FFFFFF, #efe9dd);
	behavior: url(css/PIE.php);
}

.pop-address h1 {
    color: #C44004;
    font-family: "黑体";
    font-size: 16px;
    height:56px;
    line-height:56px;
    border-bottom:1px solid #e0d6c8;
    padding:0 20px;
}
.pop-address .newadd{
	padding:20px;
	border-bottom:1px solid #e0d6c8;
}
.pop-address .newadd table th{
	width:78px;
	text-align:right;
	height:34px;
}
.pop-address .newadd table .dinput{
	border:1px solid #e0d6c8;
	height:22px;
	line-height:22px;
	padding:2px;
	margin-right:2px;
	color:#999;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:6px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
	behavior: url(css/PIE.php);
}
.pop-address .newadd table .dinput:focus{
	border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.pop-address .newadd table select{
	border:1px solid #e0d6c8;
	height:auto;
	padding-top:2px;
}
.pop-address .newadd table .dinput2{
	width:405px;
	height:74px;
}
.pop-address .newadd table em{
	color:#d2c3b8;
}
.pop-address .newadd .dcreat{
	width:70px;
	height:27px;
	background:url(../images/btns.jpg) no-repeat 0 -241px;
	display:block;
}
.pop-address .add table{
	width:100%;
}
.pop-address .add th{
	text-align:center;
	font-weight:bold;
	
}
.pop-address .add td{
	text-align:center;
}
.pop-address .add .fx1{
	margin-right:2px;
}
.pop-address .popClose{
	position:absolute;
	background:url(../images/close1.jpg) no-repeat;
	width:17px;
	height:17px;
	top:10px;
	right:20px;
}
.cs{
	width:980px;
	position:relative;
	height:1px;
	margin:0 auto;
}
.cs .cs-d{
	margin-left:980px;
	position: fixed;
	top:150px;
	_position:absolute;
	_top: expression(eval(documentElement.scrollTop+150));
}
/*分栏标题*/
.h2-tits{
	color:#6D391D;font-size:14px;
	display:table-cell;
}
.h2-tits .ilove{
	display:inline-block;
	vertical-align: middle;
	width:24px;
	height:24px;
	background:url(../images/icon2.gif) no-repeat -204px -5px;
}
fieldset,img{
    border:0;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

.reg { width:240px; position:absolute; top:0px; left:229px;}

.goj,.gojOver { float:right; position:relative; z-index:2}


.cartCon { position:absolute; width:340px; border:1px solid #d2d2d2; background:white; top:40px; z-index:4; right:-33px; box-shadow:1px 1px 3px #d2d2d2; -webkit-box-shadow:1px 1px 3px #d2d2d2; -moz-box-shadow:1px 1px 3px #d2d2d2; padding:0px 10px; display:none;}
.addspCart .cartCon { display:block;}
.cartCon dl dd { position:relative; line-height:18px; padding:10px 0px 10px 90px; height:80px; overflow:hidden; border-bottom:1px dashed #ccc;}
.cartCon dl dd img { position:absolute; left:0px; top:10px; border:1px solid #f0f0f0}
.cartCon dl dd a.cancel { position:absolute; background:url(../images/header.png) no-repeat 0px -324px; width:15px; height:15px; right:3px; top:12px;}
.cartCon dl dd a:hover.cancel { background-position:0px -344px;}
.cartCon dl dd a.proN { display:block; width:200px; color:#666; margin-bottom:13px; max-height:36px; overflow:hidden;}
.cartCon dl dd span i { color:#9e9e9e}
.cartCon dl dd span b { font-size:14px; font-family:微软雅黑;}
.cartCon p.bop { position:relative; line-height:24px; padding-left:10px; color:#82633b}
.cartCon p.bop strong { font-size:14px; font-family:微软雅黑;}
.cartCon p.bop a.check { position:absolute; right:5px; background:url(../images/header.png) no-repeat 0px -362px; width:100px; height:28px; bottom:7px;}

.gojOver .cartCon { display:block;}

/*报错页面  开始*/
.wright { background:url(../images/body_bg2.jpg) no-repeat center  white; padding-top:220px; text-align:center; padding-bottom:250px}
.wright strong { font-size:18px; color:#7a7a7a; font-family:微软雅黑; line-height:30px;}
.wright p { padding-top:5px;}
.wright p span { color:#f2c097;}

.ri { background:url(../images/body_bg2.jpg) no-repeat center  white; padding-top:235px}


