@charset "utf-8";
/*公共样式*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
ul,li{list-style-type:none;margin:0;padding:0;}
img{border:0;}
ol, ul{list-style:none;}
:link, :visited, ins{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
sub, sup{font-size:100%;vertical-align:baseline;}
blockquote, q{quotes:"\201C" "\201D" "\2018" "\2019";}
blockquote:before, blockquote:after, q:before, q:after{content:"";content:none;}
input, button, textarea, select, optgroup, option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
button, input, select, textarea{font-family:inherit;font-size:100%;margin:0;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;resize:vertical;vertical-align:top;}
i, cite, em, address{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
.clear {  clear: both;  height: 0; overflow: hidden;}
a.disabled, a.disabled:hover{cursor:default;pointer-events:none;}
.clearfix:before, .clearfix:after{display:block;content:"\200b";height:0;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.hide, .tmpl{display:none;}
/*找回密码的主要样式*/
.wrap{width: 100%;  height: 100% ;}
.wrap .login{
	width: 1200px;
	margin: 0 auto;
}
.wrap .login .forgetCon{
	width: 1200px;
}
.wrap .login .forgetCon i{
	width:1200px;
	display: block;
}
.wrap .login .forgetCon .lCon{
	width: 1200px;
}
.wrap .login .forgetCon .lCon h2{
	display: block;
	height:40px;
	line-height: 40px;
	width: 1180px;
	padding-left: 20px;
	border-bottom: dashed 1px #cccccc;
}
.wrap .login .forgetCon .lCon div{
	width: 1200px;
	margin-top: 50px;
}
.wrap .login .forgetCon .lCon div dl{
	width: 460px;
	height: 270px;
	padding: 20px;
	margin: 0 auto;
	box-shadow: 0 0 5px #ccc;
}
.wrap .login .forgetCon .lCon div dl dt{
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.wrap .login .forgetCon .lCon div dl dd{
	width: 100%;
}
.wrap .login .forgetCon .lCon div dl dd>span{
	width: 100%;
	display: block;
	overflow: hidden;
}
.wrap .login .forgetCon .lCon div dl dd i{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.wrap .login .forgetCon .lCon div dl input{
	box-shadow: none;
	border: 1px solid #CFCFCF;
	background-color: #fff;
	vertical-align: middle;
	padding: 10px 0;
	line-height: 1.5;
	font-size: 14px;
	outline: 0;
	height: auto;
	width: 238px;
	float: left;
	padding-left: 10px;
}
.wrap .login .forgetCon .lCon div dl a{
	float: right;
	display: block;
	position: relative;
	width: 198px;
	height: 43px;
	line-height: 43px;
}
.wrap .login .forgetCon .lCon div dl a span{
	position: absolute;
	left: 105px;
}
.wrap .login .forgetCon .lCon div dl input#username{
	width: 448px;
}
.wrap .login .forgetCon .lCon div dl input#submitForm{
	background: #e44715 none repeat scroll 0 0;
	border: medium none;
	color: white;
	cursor: pointer;
	display: block;
	font-weight:bold;
	text-align: center;
	width: 180px;
	padding-left: 0px;
}
/**************************结束******************/

/* old compatible, deprecated! */
.fl{float:left;} .fr{float:right;} .clear{clear:both;}
.bold{font-weight:bold;} .f11{font-size:11px;} .f14{font-size:14px;}
.tl{text-align:left;}.tc{text-align:center;} .tr, .a-right{text-align:right;} .nowrap,.nobr{white-space:nowrap;word-wrap:normal;}
/* quick_links */
.quick_links_wrap,.mui-mbar-tabs{height:100%;width:320px;right:-280px;position:fixed;bottom:0;z-index:1000;height:100%;-webkit-transition:width linear .4s;-moz-transition:width linear .4s;-ms-transition:width linear .4s;transition:width linear .4s;_position:fixed;_bottom:auto;_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-10);}
.quick_links_wraper.quick_links_dockright{margin-left:0;left:auto;right:4px;}
.mui-mbar-tabs i,.ibar_closebtn,.login_order,.login_favorite{display:inline-block;background:url(../images/ibar_sprites.png) no-repeat;cursor:pointer;height:19px;width:18px;vertical-align:top;position:absolute;}
.quick_links_panel{
	width:40px;
	height:100%;
	position:absolute;
	background:#444851;
	z-index:2;
	top:0;
	left:0;
	font-family:'microsoft yahei',arial;
	
}
/*.quick_links_panel a{
	display:block;
	line-height:200px;
	width:40px;
	height:38px;
	text-decoration:none;
	color:#d8d8d8;
	font-size:12px;
	overflow:hidden;
	background-color:#444851;
	position:relative;
	overflow:hidden;
	top:0;
	left:0px;
	*left:-15px;
	z-index:1;
	margin:0;
	padding:0;
}*/

.quick_links_panel .common_css a{
	display:block;
	line-height:200px;
	width:40px;
	height:38px;
	text-decoration:none;
	color:#d8d8d8;
	font-size:12px;
	overflow:hidden;
	background-color:#444851;
	position:relative;
	overflow:hidden;
	top:0;
	left:0px;
	*left:-15px;
	z-index:1;
	margin:0;
	padding:0;
}
.quick_links_panel a.spe{
	display:block;
	line-height:200px;
	width:40px;
	height:38px;
	text-decoration:none;
	color:#d8d8d8;
	font-size:12px;
	overflow:hidden;
	background-color:#444851;
	position:relative;
	overflow:hidden;
	top:0;
	left:0px;
	*left:-15px;
	z-index:1;
	margin:0;
	padding:0;
}
.quick_links_panel .common_css1 a{
	display:block;
	line-height:200px;
	width:40px;
	height:38px;
	text-decoration:none;
	color:#d8d8d8;
	font-size:12px;
	overflow:hidden;
	background-color:#444851;
	position:relative;
	overflow:hidden;
	top:0;
	left:0px;
	*left:-15px;
	z-index:1;
	margin:0;
	padding:0;
	    line-height: 16px;
    height: 133px;
    background: url(../images/ibar_sprites.png) no-repeat;
    line-height: 16px;
    height: 133px;
    background-position: -23px -225px;
    color: #fff;
    margin: 20px 0 10px;
}
.quick_links_panel #shopCart a:hover{background:#ed145b;text-decoration:none;}
.quick_links_panel #shopCart a.current{
    background: #ed145b;
    text-decoration: none;
}

.quick_links_panel .quick_toggle{
	position:absolute;
	bottom:0;
	left:0;
	width:40px;
	background:#444851;
	z-index:1;
}
.quick_links_panel .mp_tooltip{
	height:38px;
	line-height:38px;
	width:92px;
	position:absolute;
	z-index:2;
	left:-121px;
	top:0;
	background:#444851;
	color:#d8d8d8;
	text-align:center;
	display:block;
	visibility:hidden;
}
.quick_links_panel .mp_qrcode{
	padding:10px;
	width:148px;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,.4);
	border-radius:5px 0 0 5px;
	border-left:1px solid #ccc\0;
	border-top:1px solid #ccc\0;
	border-bottom:1px solid #ccc\0;
	z-index:3;
	position:absolute;
	left:-168px;
	left:-169px\0;
	bottom:0;
	display:none;
}
.quick_links_panel .icon_arrow_white{
	position:absolute;
	right:-5px;
	top:175px;
	width:5px;
	height:9px;
	background-position:0 -253px;
}
.quick_links_panel .icon_arrow_right_black{
	position:absolute;
	right:-5px;
	top:15px;
	width:5px;
	height:9px;
	background-position:0 -234px;
	overflow:hidden;
}
.quick_toggle .return_top{display:none;}
.quick_links_allow_gotop .return_top{display:block;}


.quick_links{
	position:absolute;
	top:50%;
	left:0;
	margin-top:-190px;
	*margin-top:-220px;	
	background:#444851;
	z-index:2;
	width:40px;
}
.quick_links a.message_list{
	background:url(../images/ibar_sprites.png) no-repeat;
	line-height:16px;
	height:133px;
	background-position:-23px -225px;
	color:#fff;
	margin:20px 0 10px;
	
}
.quick_links_min .quick_links_panel{right:280px;}
.quick_links li,.quick_toggle li{position:relative;display:block;left:0;top:0px;}
.history_list,.leave_message,.mpbtn_histroy,.mpbtn_wdsc,.mpbtn_recharge{margin-bottom:6px;}

.quick_links a:hover, .quick_links a.current,.quick_toggle a:hover{background:#ed145b;text-decoration:none;}
.quick_toggle .mp_qrcode a:hover{background:none;}
.quick_links a.message_list .span{
	width:16px;
	display:block;
	height:48px;
	margin:38px 0 0 14px;
	cursor:pointer;
}
.quick_links a.message_list .cart_num{
	width:21px;
	height:21px;
	display:block;
	border-radius:50%;
	background:#ed145b;
	text-align:center;
	line-height:21px;
	margin:9px 0 0 10px;
	cursor:pointer;
	color:#fff;
}
.quick_links i.setting{background-position:0 0;width: 27px; height: 24px; top:10px;left:6px;}
.quick_links a:hover i.setting,.quick_links .current i.setting{background-position:-29px 0;}

.quick_links i.message{background-position:0px -29px;width: 27px; height: 24px; top:11px;left:6px;}
.quick_links a:hover i.message,.quick_links .current i.message{background-position:-28px -29px;}
.quick_links i.cart{background-position:0px -29px;}

.quick_links i.view{width: 26px; height: 24px; background-position:0 -57px;top:10px;left:6px;}
.quick_links a:hover i.view,.quick_links .current i.view{background-position:-29px -57px;}

.quick_links .qa{width: 26px; height: 24px; background-position:0 -85px;top:11px;left:6px;}
.quick_links a:hover i.qa,.quick_links .current i.qa{background-position:-29px -85px;}

.quick_links .zuji{ width: 26px; height: 24px; background-position: 0 -110px; top: 8px;left: 6px;}
.quick_links a:hover i.zuji,.quick_links .current i.zuji{background-position:-29px -110px;}

/*.quick_links .caiz{ width: 26px; height: 24px; background-position: 0 -110px; top: 8px;left: 6px;}*/
/*.quick_links a:hover i.caiz,.quick_links .current i.caiz{background-position:-29px -110px;}*/



.quick_toggle .mpbtn_qrcode{width: 26px; height: 24px; top:11px;left:11px;background-position:0 -302px;}

.quick_toggle .top{background-position:0 -201px;width: 26px; height: 24px; top:12px;left:12px;}
.quick_toggle a:hover .top, .quick_links a.current .top{background-position:-33px -201px;}

.quick_toggle i.kfzx{width: 27px; height: 26px; top:7px;left:6px;background-position:0 -173px;}
.quick_toggle a:hover i.kfzx,.quick_toggle a.current i.kfzx{background-position:-28px -173px;}

.quick_links  i.wdsc{width: 27px; height: 26px; top:6px;left:6px;background-position:0 -80px;}
.quick_links  a:hover i.wdsc,.quick_links  a.current i.wdsc{background-position:-28px -80px;}
/* quick_links_pop */
.quick_links_pop{position:absolute;top:0;right:0;display:none;box-shadow:0 0 5px #999; border-radius:5px 0 0 5px;border:1px solid #999;behavior:url(js/htc.htc);}
.quick_links_pop .arrow, .quick_links_pop .arrow i{display:none;border-color:transparent #ddd;border-style:dashed solid;border-width:12px 0 12px 12px;font-size:0;height:0;width:0;position:absolute;left:100%;top:12px;}
.quick_links_pop .arrow i{border-color:transparent #f9fafc;margin:-12px 0 0 -13px;left:0;top:0;}
.quick_links_pop .fix_bg{display:none;border-top-width:0;border-radius:0 0 3px 3px;margin:0 0 -4px -250px;height:2px;width:500px;overflow:hidden;position:absolute;bottom:0;left:50%;}
.quick_links_pop .pop_panel{font-size:12px;width:100%;height:628px;position:relative;}
.quick_cart_list, .quick_history_list, .quick_links_pop .links, .quick_my_qlinks, .quick_message_list,.quick_leave_message,.quick_mpbtn_histroy,.quick_mpbtn_wdsc,.quick_mpbtn_recharge{position:absolute;width:280px;right:0;top:0;background:#fff;height:100%;display:block;}
.quick_cart_list .user_cart_inner, .quick_history_list .history_slider{display:block;border:0;margin:0;position:static;}
.quick_cart_list .user_cart_inner .del{display:none;}
.quick_history_list .title i{background-position:-170px -34px;}
.quick_leave_message .title i{background-position:-160px 0;}
.quick_leave_message .types{font-size:0;position:absolute;left:148px;top:18px;white-space:nowrap;}
.quick_leave_message .types input, .quick_leave_message .types label{font-size:12px;margin-right:20px;vertical-align:middle;white-space:nowrap;}
.quick_leave_message .types input{margin:-2px 3px 0 0;height:13px;width:13px;*margin-top:0;}
.quick_leave_message .txt{padding:15px 0;}
.quick_leave_message .txt textarea{display:block;background:#fff;border:1px solid #e8e8e8;border-radius:3px;box-shadow:0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.1);margin:0 auto;padding:8px;height:68px;width:90%;}
.quick_leave_message .token{padding:0 0 14px 16px;height:26px;}
.quick_leave_message .token input{background:#fff;border:1px solid #ddd;padding:3px 4px;width:76px;vertical-align:middle;}
.quick_leave_message .token img{margin-left:5px;vertical-align:middle;}
.quick_leave_message .btns{float:right;margin-top:-42px;padding-right:16px;}
.quick_leave_message .btn{background-position:0 -356px;cursor:pointer;font-size:0;padding-left:20px;text-shadow:0 1px 0 #355ba9;overflow:visible;}
.quick_leave_message .btn:hover{background-position:0 -386px;}
.quick_leave_message .btn span{background-position:100% -356px;font-size:12px;padding-right:20px;*height:29px;}
.quick_leave_message .btn:hover span{background-position:100% -386px;}
.quick_links_pop .no_data{color:#333;font-size:14px;padding:35px 10px;text-align:center;}
.quick_links_pop .no_data i{display:inline-block;background:url(../images/cart_new.png) no-repeat 0 -188px;margin:0 10px 0 0;height:36px;width:60px;vertical-align:middle;}
.quick_links_pop .links li{border-top:1px solid #f1f1f1;vertical-align:top;}
.quick_links_pop .links a{display:block;background:#FCFCFC;color:#333;font-size:14px;padding:12px 15px;}
.quick_links_pop .links a:hover{background-color:#F2F3F4;color:#4467a7;}
.quick_links_pop .links .tips{float:right;color:#61c2ed;font-size:12px;}
.quick_my_qlinks .title i{background-position:-200px 0;height:22px;width:22px;}
.quick_message_list .title i{background-position:-200px -34px;height:22px;width:22px;}
.quick_message_list .no_data i{background-image:url(../images/quick_links_no_msg.png);background-position:0 0;height:45px;width:62px;}

/*修改*/
.quick_links_pop ::-webkit-scrollbar{width:3px;}
.quick_links_pop ::-webkit-scrollbar-track{background-color:#bee1eb;}
.quick_links_pop ::-webkit-scrollbar-thumb{background-color:#ff3366;}
.quick_links_pop ::-webkit-scrollbar-thumb:hover {background-color:#9c3}
.quick_links_pop ::-webkit-scrollbar-thumb:active {background-color:#00aff0}
.ibar_plugin_title{
	height:38px;
	line-height:38px;
	border-bottom:1px solid #dedede;
	color:#333;
	font-size:14px;
	font-weight:700;
	width:267px;
	margin:0 auto;
}
.ibar_closebtn{
	width:20px;
	height:20px;
	background-position:5px -267px;
	padding:5px;
	overflow:hidden;
	position:absolute;
	top:4px;
	right:4px;
}
.ibar_plugin_content{
	overflow: hidden;
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	_height:expression((document.documentElement.clientHeight-100-40)+"px");
	overflow:hidden;
}
.ibar_cart_group{
	width:250px;
	height: 100%;
    overflow: hidden;
	padding:0 20px 0 10px;
	background:#fff;
}
.ibar_cart_group .cart_go_list{
	overflow-y: auto;
    height: 100%;
}
.ibar_cart_group_header{
	height:34px;
	line-height:34px;
	border-bottom:1px solid #dedede;
}
.ibar_cart_group_title{
	float:left;
	font-size:14px;
}
.ibar_cart_group_header a{float:right;color:#ed145b}
.ibar_cart_group_header a:hover{text-decoration:underline;}
.cart_item{
	height: auto;
	overflow: hidden;
	padding:15px 0;
	border-bottom:1px dotted #ddd;
}
.cart_item_pic{
	position:relative;
	float:left;
	width:87px;
	height:87px;
}
.cart_item_pic img{
	width:85px;
	height:85px;
	border:1px solid #f4f4f4;
}
.cart_item_desc{
	float:left;
	width:150px;
	padding:3px 0 0 10px;
}
.cart_item_name{
	display:inline-block;
	width:100%;
	height:36px;
	overflow:hidden;
	line-height:18px;
	color:#5c5c5c;
}
.cart_item_sku{
	width:160px;
	height:auto;
	line-height:24px;
	color:#999;	
}
.cart_price{color:#ed145b;font-weight:700;font-family:Arial,Helvetica;}
.cart_handler{
	position:absolute;
	height:80px;
	bottom:0;
	width:100%;
	background:#fff;
}
.cart_handler_header{width:260px;margin:8px 10px;float:left;}
.cart_handler_left{float:left;}
.cart_handler_right{float:right;font-weight:700;font-size:16px;font-family:Arial;color:#ed145b;}
.cart_go_btn{
	display:block;
	height:33px;
	line-height:33px;
	font-size:19px;
	font-family:SimHei;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background:#ed145b;
	width:260px;
	margin:0 10px;
	float:left;
}
.cart_go_btn:hover{color:#fff;}
.ia-head-list{
	height:66px;
	width:244px;
	margin-left:15px;
	background:#f3f3f3;
	overflow:hidden;
	zoom:1;
	margin-top:15px;
	color:#4a4a4a;
}
.ia-head-list a{color:inherit;}
.ia-head-list .pl{
	width:80px;
	border-right:dashed 1px #ccc;
	height:47px;
	margin-top:10px;
	text-align:center;
	float:left;
}
.ia-head-list .num{
	font-size:16px;
	height:26px;
	font-family:arial;
}
.ia-head-list .money{border-right:0;}
.ga-expiredsoon{width:244px;margin-left:15px;margin-top:20px;}
.ga-expiredsoon .es-head{color:#5c5c5c;height:13px;border-left:3px solid #5c5c5c;padding-left:13px;}
.ia-none{background:url(../images/null_icon.png) no-repeat center 50px;text-align:center;padding-top:150px;padding-bottom:30px;font-family:"微软雅黑";font-size:16px;color:#797979;}
.jiaru{margin-top:40px;}
.ibar-history-head{
	position:relative;
	font-size:14px;
	border-bottom:solid 1px #dedede;
	height:37px;
	line-height:37px;
	width:255px;
	margin-left:10px;
}
.ibar-history-head a{float:right;color:#ed145b;}
.ibar-history-head a:hover{text-decoration:underline;}
.imp_item{
	width:255px;
	padding-top:10px;
	border-bottom:dashed 1px #d5d5d5;
	overflow:hidden;
	padding-bottom:15px;
	margin-bottom:-1px;
	margin-left:10px;
}
.imp_item .pic{
	float:left;
	display:inline;
	margin-right:10px;
}
.imp_item .tit{
	height:40px;
	overflow:hidden;
	width:140px;
	word-break:break-all;
}
.imp_item .tit a{
	color:#5c5c5c;
	line-height:18px;
}
.imp_item .tit a:hover{
	color:#ed145b;
	line-height:18px;
}
.imp_item .price{
	color:#ed145b;
	font-weight:700;
	margin-bottom:10px;
}
.imp_item .price em{
	font-family:arial;
	font-size:14px;
}
.imp_item .imp-addCart{
	background:#f32166;
	background:-webkit-linear-gradient(top,#fb2f72,#ed145b);
	color:#fff;
	width:90px;
	height:28px;
	float:left;
	display:inline;
	line-height:28px;
	text-align:center;
}
.sc{float:right;line-height:22px;margin-right:7px;}
.ibar_recharge_form{
	width:220px;
	margin:0 auto;
	padding:15px 0;
}
.ibar_recharge-field{
	border:1px solid #ddd;
	height:30px;
	margin-bottom:10px;
}
.ibar_recharge-field label{
	width:40px;
	text-align:center;
	color:#fff;
	background:#737373;
	line-height:30px;
	float:left;
}
.ibar_recharge-fl{
	position:relative;
	float:left;
	width:170px;
	padding-left:5px;
	
}
.ibar_recharge-iwrapper{
	padding-top:7px;
}
.ibar_recharge-iwrapper input{border:0;outline:0 none;}
i.ibar_recharge-contact{
	width:13px;
	height:14px;
	background:url(../images/contact.png);
	top:8px;
	right:5px;
	cursor:pointer;
}
.ibar_recharge-mod{
	line-height:30px;
	color:#737373;
	font-weight:700;
	cursor:pointer;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
i.ibar_recharge-arrow{
	width:6px;
	height:3px;
	background:url(../images/arrow-down.png);
	top:14px;
	right:8px;
	cursor:pointer;
}
.ibar_recharge-vbox{
	border:1px solid #ddd;
	background:#fff;
	position:absolute;
	left:0;
	top:30px;
	width:177px;
}
.ibar_recharge-vbox li{
	float:left;
	width:68px;
	border-right:1px solid #ddd;
	padding:7px 10px;
	line-height:1;
	cursor:pointer;
}
.ibar_recharge-vbox li.sanwe{border:0;}
.ibar_recharge-vbox .selected, .ibar_recharge-vbox li:hover{background:#ececec;}
.ibar_recharge-btn{text-align:center;padding-top:3px;}
.ibar_recharge-btn input{
	border:0;
	color:#fff;
	display:inline-block;
	width:115px;
	height:31px;
	font-size:16px;
	background:#f32166;
	background:-webkit-linear-gradient(top,#fb2f72,#ed145b);
	cursor:pointer;
}
.ibar_recharge-btn input:hover{
	background:-webkit-linear-gradient(top,#fa578c,#f73776);
}
.ibar_login_box{
	width:287px;
	height:185px;
	padding:10px 0;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,.4);
	border-radius:5px 0 0 5px;
	border-left:1px solid #ccc\0;
	border-top:1px solid #ccc\0;
	border-bottom:1px solid #ccc\0;
	z-index:3;
	position:absolute;
	top:0px;
	left:-287px;
	left:-288px\0;
	display:none;
}
.ibar_login_box .avatar_box{
	width:287px;
	overflow:hidden;
	height:120px;
}
.status_login .avatar_imgbox{
	
	margin:0 auto;
	
}
.ibar_login_box .avatar_imgbox{
	width:60px;
	height:60px;
	border-radius:50%;
	overflow:hidden;

}
.ibar_login_box .avatar_box p{
	font-size:14px;
	color:#333;
	text-align:center;
}
.nav_centent{
	width: 287px;
	height: 50px;
	padding: 8px 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background:#f8f8f8;
}
.nav_centent ul li{
	width: 143px;
	height: 50px;
	float: left;
}
.nav_centent ul li:first-child{
	border-right: 1px solid #e5e5e5;
}
.nav_centent ul li a{
	display: block;
	text-align: center;
	color: #686868;
}
.nav_centent ul li a s{
	display:block;
	width:26px;
	height:28px;
	margin:0 auto;
	background:url(../images/fr_ico.png) no-repeat 0px 0px;
}
.nav_centent ul li a:hover{
	background:none;
	color:#ed145b;
}
.nav_centent ul li a:hover s{
	background-position:-26px 0px;

}
.nav_centent ul li.nav_centent_news a s{
	background-position:0px -28px;
}
.nav_centent ul li.nav_centent_news a:hover s{
	background-position:-26px -28px;
}
.status_login .user_info{
	overflow:hidden;
	color:#333;
	line-height:40px;
	width:100%;
	text-align: center;
	font-family: " 宋体";
	font-size:12px;

}
.status_login .user_info a{

    color: #ed145b;
    font-size: 12px;
}
.status_login .user_info a:hover{
background: #fff;
}

.ibar_login_box .login_btnbox{
	width:267px;
	height:79px;
	border-top:1px dotted #d5d5d5;
	overflow:hidden;
	padding-top:15px;
	clear:both;
}
.ibar_login_box .login_btnbox a{
	width:94px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid;
	color:#333;
	text-decoration:none;
	float:left;
	background-position:0 -408px;
	background-repeat:repeat-x;
	border-color:#e9e9e9;
}
.ibar_login_box .login_btnbox .login_order{margin:0 10px 0 35px;}
.ibar_login_box .login_btnbox a:hover{text-decoration:none;background-position:0 -366px;border-color:#fccadb;background:none;}
.ibar_login_box .login_btnbox .login_favorite{border-color:#e9e9e9}
.ibar_login_box .icon_arrow_white{  position:absolute;  right:-5px;  top:15px;  width:5px;  height:9px;  background-position:0 -253px;  }

/*飞入购物车(新品专区 main样式)*/
.main{width:1200px;margin:0 auto;overflow: hidden;}
.main #plist{width:100%;height:auto;overflow:hidden;}
.main #plist ul>li{width:297px;overflow:hidden;float: left;}
.main #plist ul>li.new_product_slide_box{margin-right:5px;position: relative;}
.main #plist ul>li.new_product_slide_box:hover::before{
	transition: left 2s;
	left: 1360px;
}
.main #plist ul>li.new_product_slide_box:before{
	/*border:1px solid red;*/
	content: "";
	position: absolute;
	width: 80px;
	height: 800px;
	top: -50px;
	left: -250px;
	z-index: 100000;
	overflow: hidden;
	background-image: linear-gradient(to right,rgba(255,255,255,0.2) 0,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.2) 100%);
	transform: skewX(-25deg);
}

.main #plist ul>li.new_product_slide_box>a{display: none;width:38px;height:71px;position: absolute;top:340px;z-index: 200;}
.main #plist ul>li.new_product_slide_box>a.new_btn_left{left: 0px;background: url("../images/new_btn_left.png") no-repeat center center rgba(0,0,0,0.2);}
.main #plist ul>li.new_product_slide_box>a.new_btn_right{right:0px;background: url("../images/new_btn_right.png") no-repeat center center rgba(0,0,0,0.2);}
.main #plist ul>li.new_product_slide_box>div{width:295px;height:738px;border: 1px solid #dcdcdc;background: #fff;overflow:hidden;position: relative;-moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;-webkit-transition: all .8s;transition: all .8s;box-shadow: 0 5px 7px rgba(0,0,0,.1);}
.main #plist ul>li.new_product_slide_box>div:hover{border:1px solid #ff93ad;}
.main #plist ul>li.new_product_mid_box{width:898px;}
.main #plist ul>li.new_product_las_box{width:1200px;overflow: hidden;margin-top:10px;}
.main #plist ul>li>ul>li{float:left;width:296px;height:370px;overflow:hidden;margin:0 5px 10px 0;}
.main #plist ul>li>ul>li.last{margin:0 0 10px 0;}
.main #plist ul>li>ul>li>div{background: #fff; float:left;width:274px;height:338px;padding:10px;overflow:hidden;border:1px solid #dcdcdc;position: relative;-moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;-webkit-transition: all .8s;transition: all .8s;box-shadow: 0 5px 5px rgba(0,0,0,.1);}
.main #plist ul>li>ul>li>div:hover{border:1px solid #ff93ad;}
.main #plist ul>li>ul>li>div div.p-img{width:274px;height:245px;overflow: hidden;}
.main #plist ul>li>ul>li>div div.p-img img{max-width:100%;max-height:100%;display:block;margin:0 auto;vertical-align: middle;}
.main #plist ul>li>ul>li>div div.p-name{width:100%;overflow: hidden; color:black;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;margin-top:5px; }
.main #plist ul>li>ul>li>div div.p-intro{width:100%;overflow: hidden; color:black;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;margin-top:5px;}
.main #plist ul>li>ul>li>div div.btns{width:100%;height:30px;line-height:30px;background:#f9dae0;overflow: hidden;margin-top: 12px;}
.main #plist ul>li>ul>li>div div.btns a{float:right;height:30px;width:80px;line-height:30px;background:#ff93ad;box-shadow: -3px 0 3px rgba(161,9,84,.5);text-align:center;text-decoration:none;color:white;font-size: 14px;/*background:url(../images/arrow_right.jpg) no-repeat 8px center;*/}
.main .p-price{width: 35%;overflow: hidden;height:30px;float: left;}
.main .p-price .price{font-size:12px;color:#a00757;font-family: "微软雅黑";font-weight:bold;}
.main .price strong{font-size:22px;font-weight: 500;}
.main .scj{width:20%;color: #9f9e9e;font-size:12px;font-family: "微软雅黑";float: left;margin-top: 5px;font-weight: bold;}
.main .scj em{text-decoration: line-through;color: white;}
/**********结束************/
/*热销专区 main2样式*/
.main2{width:1200px;margin:0 auto;}
.main2 #plist{width:100%;height:auto;float:left;overflow:hidden;}
.main2 #plist li{float:left;width:393px;height:460px;margin:0 10px 10px 0;overflow: hidden;}
.main2 #plist li>div{background: #fff;width:373px;height:430px;padding:9px;border:1px solid #dcdcdc;overflow:hidden;position: relative;-moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;-webkit-transition: all .8s;transition: all .8s;box-shadow: 0 5px 5px rgba(0,0,0,.1);}
.main2 #plist li>div:hover{border:1px solid #ff93ad;}
.main2 #plist li.last{margin:0 0 10px 0;}
.main2 .p-img{width:373px;height:324px;overflow: hidden;}
.main2 .p-img img{max-width:100%;max-height:100%;display:block;margin:0 auto;vertical-align: middle;}
.main2 .p-name{width:100%;overflow: hidden; color:#5c5c5c;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;text-align: center;margin-top:10px; }
.main2 .p-intro{width: 100%;overflow: hidden;height:30px;text-align: center;line-height: 30px;font-weight: bold;color:#7c7c7c;font-size:18px;}
.main2 #plist .btns{width:100%;height:30px;line-height:30px;background:#f9dae0;overflow: hidden;margin-top: 15px;}
.main2 #plist .btns a{float:right;height:30px;width:100px;line-height:30px;background:#ff93ad;position:relative;box-shadow: -3px 0 3px rgba(161,9,84,.5);padding-left: 20px;text-decoration:none;color:white;font-size: 14px;/*background:url(../images/arrow_right.jpg) no-repeat 8px center;*/}
.main2 #plist .btns a b{display:block;width:14px;height:14px;position:absolute;background:url("../images/right_btn.png") no-repeat;overflow: hidden;top: 8px;left: 90px;}
.main2 .p-price{width: 35%;overflow: hidden;height:30px;float: left;padding-left: 5px;}
.main2 .p-price .price{font-size:12px;color:#a00757;font-family: "微软雅黑";font-weight:bold;}
.main2 .price strong{font-size:24px;font-weight: 500;}
.main2 .scj{width:20%;color: #9f9e9e;font-size:16px;font-family: "微软雅黑";float: left;margin-top: 5px;font-weight: bold;}
.main2 .scj em{text-decoration: line-through;color: white;}
/*************结束*******************/

/*鼠标移动到产品的效果*/
.lh_wrap2:hover::before{
	transition: left 2s;
	left: 1360px;
}
.lh_wrap2:before{
	/*border:1px solid red;*/
	content: "";
	position: absolute;
	width: 80px;
	height: 600px;
	top: -50px;
	left: -200px;
	z-index: 100000;
	overflow: hidden;
	background-image: linear-gradient(to right,rgba(255,255,255,0.2) 0,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.2) 100%);
	transform: skewX(-25deg);
}
/*********/

/*全球精选 main3样式*/
.main3{width:1200px;margin:25px auto 0 auto;overflow: hidden;}
.main3 #plist{width:100%;height:auto;overflow:hidden;}
.main3 #plist ul>li{float:left;width:296px;height:370px;overflow:hidden;margin:0 5px 10px 0;}
.main3 #plist ul>li.last{margin:0 0 10px 0;}
.main3 #plist ul>li>div{background: #fff; float:left;width:274px;height:338px;padding:10px;overflow:hidden;border:1px solid #dcdcdc;position: relative;-moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;-webkit-transition: all .8s;transition: all .8s;box-shadow: 0 5px 5px rgba(0,0,0,.1);}
.main3 #plist ul>li>div:hover{border:1px solid #ff93ad;}
.main3 #plist ul>li>div div.p-img{width:274px;height:245px;overflow: hidden;}
.main3 #plist ul>li>div div.p-img img{max-width:100%;max-height:100%;display:block;margin:0 auto;vertical-align: middle;}
.main3 #plist ul>li>div div.p-name{width:100%;overflow: hidden; color:black;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;margin-top:5px; }
.main3 #plist ul>li>div div.p-intro{width:100%;overflow: hidden; color:black;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;margin-top:5px;}
.main3 #plist ul>li>div div.btns{width:100%;height:30px;line-height:30px;background:#f9dae0;overflow: hidden;margin-top: 12px;}
.main3 #plist ul>li>div div.btns a{float:right;height:30px;width:80px;line-height:30px;background:#ff93ad;box-shadow: -3px 0 3px rgba(161,9,84,.5);text-align:center;text-decoration:none;color:white;font-size: 14px;/*background:url(../images/arrow_right.jpg) no-repeat 8px center;*/}
.main3 .p-price{width: 35%;overflow: hidden;height:30px;float: left;}
.main3 .p-price .price{font-size:12px;color:#a00757;font-family: "微软雅黑";font-weight:bold;}
.main3 .price strong{font-size:22px;font-weight: 500;}
.main3 .scj{width:20%;color: #9f9e9e;font-size:12px;font-family: "微软雅黑";float: left;margin-top: 5px;font-weight: bold;}
.main3 .scj em{text-decoration: line-through;color: white;}
/****************结束********************/

/*产品列表页的产品样式 main4样式*/
.main4{width:1200px;margin:25px auto 0 auto;overflow: hidden;}
.main4 #plist{width:100%;height:auto;overflow:hidden;}
.main4 #plist ul>li{float:left;width:296px;height:370px;overflow:hidden;margin:0 5px 10px 0;}
.main4 #plist ul>li.last{margin:0 0 10px 0;}
.main4 #plist ul>li>div{background: #fff; float:left;width:274px;height:338px;padding:10px;box-shadow: 0 5px 5px rgba(0,0,0,.1);overflow:hidden;border:1px solid #dcdcdc;position: relative;-moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;-webkit-transition: all .8s;transition: all .8s;/*box-shadow: 0 5px 5px rgba(0,0,0,.1);*/}
.main4 #plist ul>li>div div.p-img{width:274px;height:245px;overflow: hidden;}
.main4 #plist ul>li>div:hover{border:1px solid #ff3364;}
.main4 #plist ul>li>div div.p-img img{max-width:100%;max-height:100%;display:block;margin:0 auto;vertical-align: middle;}
.main4 #plist ul>li>div div.p-name{width:100%;overflow: hidden; color:black;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;margin-top:5px; }
.main4 #plist ul>li>div div.p-intro{width:100%;overflow: hidden; color:black;font-size:16px;font-family: "微软雅黑";line-height:20px; height: 20px;margin-top:5px;}
.main4 #plist ul>li>div div.btns{width:100%;height:30px;line-height:30px;background:#efeff1;overflow: hidden;margin-top: 12px;}
.main4 #plist ul>li>div div.btns a{float:right;height:30px;width:80px;line-height:30px;background:#a00853;box-shadow: -3px 0 3px rgba(0,0,0,.3);text-align:center;text-decoration:none;color:white;font-size: 14px;/*background:url(../images/arrow_right.jpg) no-repeat 8px center;*/}
.main4 .p-price{width: 35%;height:30px;float: left;}
.main4 .p-price .price{font-size:12px;color:#ff3364;font-family: "微软雅黑";font-weight:bold;}
.main4 .price strong{font-size:22px;font-weight: 500;}
.main4 .scj{width:20%;color: #9f9e9e;font-size:12px;font-family: "微软雅黑";float: left;margin-top: 5px;font-weight: bold;}
.main4 .scj em{text-decoration: line-through;color: white;}

/*心形的绘制*/
.heart_shape{width:30px;height:30px;position:absolute;top:10px;right:10px;display: none;border-radius:15px;float: right;background:#7f7f7f;cursor: pointer;}
.heart_shape_box{position: absolute;transform: rotate(45deg);top: 3px;left:15px;}
.heart_shape_l,.heart_shape_f,.heart_shape_t{position:absolute;width: 10px;height:10px;background: #fff;}
.heart_shape_l{top: 5px;left:0;  border-radius: 5px;}
.heart_shape_f{top: 5px;left:5px;}
.heart_shape_t{top: 0;left:5px; border-radius: 5px;}
.buy_shop{width:30px;height:30px;position:absolute;top:50px;right:10px;display: none;border-radius:15px;text-align:center;line-height:30px;background:#ff3364;overflow: hidden;}
.buy_shop a{display:block;width:30px;height:30px;background: url("../images/buy_ico.png") no-repeat center center;}
.wrap_float_content{width:296px;height:30px;position:absolute;top:225px;right:0;display: none;background:rgba(255,51,100,.8);}
.wrap_float_content>div{float:left;}
.wrap_float_content>div.wrap_float_content_left{width: 68px;height:30px;}
.wrap_float_content>div.wrap_float_content_right{width: 68px;height:30px;}
.wrap_float_content>div.wrap_float_content_middle{width: 160px;height:30px;line-height: 30px;text-align: center;}
.wrap_float_content>div.wrap_float_content_middle>a{display:inline-block;margin-top: 5px;}
.main4 #plist ul>li>div:hover .heart_shape{display: block;}
.main4 #plist ul>li>div:hover .buy_shop{display: block;}
.main4 #plist ul>li>div:hover .wrap_float_content{display: block;}
/**********************结束*******************/

/*其他样式*/
.index_banner{position:relative;margin-bottom:20px;height:500px;}
.index_banner li{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:500px;}
.index_banner li a{display:block;margin:0 auto;width:1000px;height:500px;}
.index_banner .clert{width:100%; position:absolute;z-index:99;bottom:0;left:0;height:30px;line-height:30px;text-align:center;}
.index_banner cite{z-index:999;height:15px;}
.index_banner cite span{display:inline-block;margin:0 4px;width:10px;height:10px;background-color:#666;text-indent:-999em;opacity:.8;cursor:pointer;border-radius:5px;}
.index_banner cite span.cur{background-color:#000;cursor:default;}

.flei{padding-left:28px;}
.flei a{display:block;background:url(store_images/xiala12497.gif) 125px 4px no-repeat;}
.flei a:hover{color:#666;text-decoration:none;}
.flei i{display:block;width:8px;height:8px;background:url(store_images/xiala12497.gif) -20px -102px no-repeat;float:left;margin:10px 8px 0 0;}

.settleup-2013{
	height:34px;
	position:fixed;
	right:45px;
	z-index:900;
}
.shoping-small{
	width:119px;
}

.fly_item{border:1px solid #000;width:38px;height:38px;overflow:hidden;position:absolute;visibility:hidden;opacity:.5;filter:alpha(opacity=50);}
.shop_cart{width:106px;height:25px;line-height:25px;padding-top:8px; font-family:'microsoft yahei';font-size:12px;text-indent:34px;color:#000;position:absolute;right:50px;top:240px;}