.proPriceT p.p02{float:left; margin-left:40px;margin-top:18px}
.proPriceT p.p02 span{display:block;color:#a2a2a2;margin-top:5px}

.detChoose p a.pay { background-position:2px -482px; width:123px; height:43px;line-height: 40px;text-align: center;text-decoration: none;font-size: 16px;color: #fff;}
.detChoose p a.buyNow { background-position:-36px -165px; width:123px; height:43px;line-height: 40px;text-align: center;text-decoration: none;font-size: 16px;color: #fff;}
.detChoose p a.buyOver { background-position:0 -573px; width:120px; height:40px;line-height: 40px;text-align: center;text-decoration: none;font-size: 16px;color: #333333;}
.detChoose p a.pastpay { background-position:2px -526px; width:123px; height:43px;line-height: 40px;text-align: center;text-decoration: none;font-size: 16px;color: #333333;}

.detCon {
  margin-top: 20px;
  float: left;
  min-height: 200px;
}
#qc_wrap{position:relative;}
.qc_inner {
  text-align: center;
  background-color: #ffffff;
  width: 162px;
  border: 1px solid #e6e6e6;
  top: 28px;
  border-top: 0px;
}
.qc_trigger {
  cursor: pointer;
  cursor: pointer;
  width: 127px;
  text-align: left;
  padding-left: 10px;
  padding-right: 25px;
  height: 30px;
  line-height: 30px;
  background: url(../images/mobile.png) 142px center no-repeat;
  margin-right: 10px;
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  border-top: 0px;
}
