/*pub-1|2012-10-26 17:02:54*/
.try-mod-address .try-contentbox .try-btn-submit,.try-mod-address .addr-btn i,.try-mod-address .addr-item .addr-to,.try-mod-address .addr-msg b{background:url(../images/try.png) 0 -999em no-repeat transparent;}
.try-mod-address .try-contentbox .try-stdmod-body{padding:26px 14px 16px;}
.try-mod-address .try-contentbox .try-stdmod-footer{position:relative;}
.try-mod-address .try-contentbox .try-btn-submit{background-position:0 0;}
.try-mod-address .addr-btn,.try-mod-address .addr-show em{display:inline-block;font:400 12px/18px '\5b8b\4f53';color:#3a9937;cursor:pointer;}
.try-mod-address .addr-btn i{float:left;width:12px;height:12px;margin:3px 6px 0 0;background-position:0 -33px;}
.try-mod-address .addr-btn i.active{background-position:-13px -33px;}
.try-mod-address .addr-title{position:relative;height:22px;margin-bottom:10px;font:400 16px/22px 'Microsoft Yahei';color:#333;}
.try-mod-address .addr-title em{padding-right:5px;font-weight:700;font-size:18px;color:#3a9937;}
.try-mod-address .addr-title .addr-btn{position:absolute;top:4px;right:0;}
.try-mod-address .addr-list{overflow:hidden;*position:relative;}
.try-mod-address .addr-item{position:relative;overflow:hidden;height:38px;padding:8px 15px 0 60px;border:1px dashed #fff;}
.try-mod-address .addr-item .addr-to{position:absolute;top:8px;left:10px;display:none;padding-left:14px;background-position:-76px -33px;color:#FA5C17;}
.try-mod-address .addr-item input{position:relative;top:1px;display:block;float:left;*top:-3px;}
.try-mod-address .addr-item label{overflow:hidden;display:block;height:18px;line-height:18px;padding-left:10px;}
.try-mod-address .addr-item label span{padding-left:6px;color:#C1C1C1;}
.try-mod-address .addr-item:hover,.try-mod-address .addr-list .hover{border-color:#C5C5C5;background-color:#FBFBFB;}
.try-mod-address .addr-item:hover label,.try-mod-address .addr-list .hover label,.try-mod-address .addr-list .current label{height:36px;}
.try-mod-address .addr-list .current{border-color:#D585FF;background-color:#FFF7FF;*margin-bottom:-4px;}
.try-mod-address .addr-list .current .addr-to{display:block;}
.try-mod-address .addr-show{padding:10px 60px;}
.try-mod-address .addr-field-cell{position:absolute;top:25px;left:325px;display:inline-block;*display:inline;*zoom:1;}
.try-mod-address .addr-field-cell label{padding-left:5px;}
.try-mod-address .addr-field-cell input{vertical-align:middle;}
.try-mod-address .addr-field-cell a{color:#8052BC;}
.try-mod-address .addr-new{padding:25px 0 17px 10px;border:1px dashed #D78AFF;background-color:#FBF1FB;}
.try-mod-address .addr-new li{position:relative;overflow:hidden;height:26px;padding-left:87px;margin-bottom:9px;color:#333;}
.try-mod-address .addr-new li.tip{margin-bottom:0;color:#999;}
.try-mod-address .addr-new li label{position:absolute;top:0;left:0;display:block;width:87px;height:26px;line-height:26px;text-align:right;}
.try-mod-address .addr-new li label .require{padding-right:6px;color:#FA5C17;}
.try-mod-address .addr-new li input{width:140px;height:24px;line-height:24px;padding:0 5px;border:1px solid #DBBDF5;background-color:#fff;*height:22px;*line-height:22px;}
.try-mod-address .addr-new li.addr label{top:-3px;}
.try-mod-address .addr-msg{position:relative;display:none;height:24px;line-height:24px;margin-left:5px;padding:0 8px 0 25px;border:1px solid #FF7F7E;background:#FDF3F4;vertical-align:top;zoom:1;margin-top:5px;}
.try-mod-address .addr-msg b{position:absolute;top:4px;left:3px;overflow:hidden;display:block;width:16px;height:16px;background-position:-26px -33px;}
#J_DeliveryAdd{width:250px;}
#J_AreaCode{width:32px;}
#J_TelePhone{width:70px;}
#J_TelePhoneExtension{width:38px;}

.try-overlay .try-btn,.try-overlay .try-ext-close{background:url(../images/tryButton.png) 0 -999em no-repeat;}
.try-ext-mask{background-color:#000;opacity:.3;filter:alpha(opacity=30);}
.try-ext-position{position:absolute;left:-9999px;top:-9999px;}
.try-overlay{position:absolute;overflow:hidden;color:#666;}
.try-overlay .try-box-mask{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#848484;opacity:.5;filter:alpha(opacity=50);}
.try-overlay .try-contentbox{position:relative;padding:6px;}
.try-overlay .try-stdmod-header{height:30px;background-color:#E50073;font:700 14px/30px '\5b8b\4f53';color:#fff;text-indent:11px;}
.try-overlay .try-stdmod-body{overflow:hidden;padding:14px;border-left:1px solid #D7D7D7;border-right:1px solid #D7D7D7;background-color:#fff;}
.try-overlay .try-stdmod-footer{padding:20px 0 14px;border:1px solid #D7D7D7;border-top:none;background-color:#F4F4F4;text-align:center;}
.try-overlay .try-btn{display:inline-block;width:85px;height:32px;background-position:0 -11px;text-align:center;cursor:pointer;}
.try-overlay .try-btn strong{font:700 14px/30px '\5b8b\4f53';color:#fff;}
.try-overlay .try-btn:hover{text-decoration:none;}
.try-overlay .try-ext-close{position:absolute;top:16px;right:14px;overflow:hidden;display:block;width:11px;height:10px;background-position:0 0;text-indent:-9999em;}
.try-overlay .try-ext-close-x{display:none;}


.try-login-close{background:transparent url(../images/close.png) no-repeat;display:block;height:17px;position:absolute;cursor:pointer;right:12px;top:12px;width:17px;z-index:9;}
.skin{background-color:#FFF;height:272px;margin-left:7px;margin-top:-279px;position:absolute;width:500px;}
.transparent{background-color:#848484;border-radius:5px 5px 5px 5px;height:286px;opacity:.7;width:514px;}
.ks-ext-mask{background-color:#000;opacity:.3;filter:alpha(opacity=30);}

.hidden{display:none;}

/*试用报告详情页 开始*/
.proDOLT{display:inline-block; width:100%;}
.sproDOLR{height:auto;}
.sproDOLR h3{margin-top:10px;}
.sproDOLR h3 span{color:#333; font-size:18px; font-family:微软雅黑; font-weight:normal;background:url(../images/mian.png) no-repeat right center; padding-right:32px;margin-left:25px;}
.sproDOLR p.p02{margin-top:32px; color:#999;padding-left:25px}
.sproDOLR p.p02 span{color:#C40000; font-size:18px; font-family:微软雅黑; margin-right:69px;}
.sproDOLR p.p02 span i{font-size:14px; font-style:normal;}
.sproDOLR p.p02 strong{color:#3a9937; font-size:24px; margin:0 15px;}

.sybg{width:536px; background:#FBF2FA; padding:20px 0; position:relative; margin-top:14px;}
.sybg em{position:absolute; background:url(../images/embj.png) no-repeat; width:6px; height:6px; right:0; bottom:-6px;}
.sybg p.p03{text-indent:32px; font-size:14px; color:#999;}
.sybg p.p03 strong{font-size:16px; color:#666; margin:0 6px;} 
.sybg dl{display:inline-block; width:316px; margin-top:10px; background:url(../images/bj08.png) no-repeat right center; padding-top:10px;}
.sybg dl dt{float:left; width:88px; text-align:right; color:#999; margin-bottom:15px;}
.sybg dl dd{float:left; width:228px; margin-bottom:15px;color:#999;}
.sybg dl dd span{float:left; width:150px; height:11px; border:1px solid #DBDBDB; background:#fff; margin:0 10px; position:relative;}
.sybg dl dd span i{position:absolute; left:0; top:0px; height:11px;}
.sybg dl dd span i.blue{background:#0066FF;}
.sybg dl dd span i.orange{background:#FF6633;}
.sybg dl dd span i.green{background:#009933;}
.sybg dl dd span i.red{background:#CC66CC;}

.pscore{position:absolute; right:0; top:80px;}
.pscore strong{display:block;font-size:80px; color:#999; margin-right:52px;}
.pscore p{display:inline-block; width:97px; height:13px; position:relative; margin-left:5px;}
.pscore p label{display:inline-block; width:13px; height:13px; background:url(../images/xing.png) no-repeat 0 -13px; margin-right:7px;}
.pscore p label.last{margin:0;}
.pscore p i{position:absolute; left:0; top:0; background:url(../images/xing.png) no-repeat 0 0; height:13px;}
.pscore span{display:block;color:#999; margin-left:41px; margin-top:11px;}

.sproDOLR a{display:block; background:url(../images/abj04.png) no-repeat; width:235px; height:74px; margin-top:30px; margin-left:45px;}

.proDOLB{margin-top:-4px;}

.sproDThRC p.expro{background:url(../images/img10.png) no-repeat 36px  center; padding-left:133px; text-indent:0px; height:114px; font-size:14px; color:#999;}
.sproDThRC p.expro b{display:block;font-size:18px; color:#666; font-family:微软雅黑; font-weight:normal; padding-top:26px; margin-bottom:13px;}
.sproDThRC p.expro b strong{color:#3a9937; font-size:26px;}

.users{padding:0px 16px 100px 16px; overflow:hidden; border-bottom:1px solid #EEEAE5;}
.usersM{border-top:1px dashed #C6C6C6; margin-top:-1px; padding:10px 0;}
.usersM ul{display:inline-block;}
.usersM ul li{float:left; width:231px;}
.usersM ul li dl{float:left;}
.usersM ul li dl dt{float:left; width:57px;}
.usersM ul li dl dd{float:left; width:164px; margin-left:10px;}
.usersM ul li dl dd strong,.usersM ul li dl dd span{display:block; color:#666;}
.usersM ul li dl dd strong{font-size:14px;}
.usersM ul li dl dd span{margin:6px 0;}
.usersM ul li dl dd a{color:#3a9937;}
.usersM ul li dl dd b{font-weight:normal; color:#999;}

.usersP{position:relative;}
.usersP a{position:absolute; top:21px; left:19px; width:57px;}
.usersP a span{display:block; width:57px;color:#000;}
.usersP dl{display:inline-block;margin-left:110px; padding-top:33px; padding-bottom:56px;}
.usersP dl dt{float:left; width:158px;}
.usersP dl dd{float:left; width:620px; margin-left:26px;}
.usersP dl dd p{font-size:14px; color:#666; border:none; height:auto; line-height:28px;}
.usersP dl dd span{color:#999;}
/*试用报告详情页 结束*/

.yellow { background:#FFF3D9;}
.marTop10 { margin-top:10px;}
/*报告列表页   开始*/
.bglist { height:270px; overflow:hidden; text-align:center; background:url(../images/bglist-x.png) repeat-x;}
.bglist img { display:block; margin:0 auto;}

.bgcon { margin-top:10px;}
.bgcon ul li { height:360px; padding-left:414px; position:relative; background:white; box-shadow:0 2px 3px #DEDAD1; -webkit-box-shadow:0 2px 3px #DEDAD1; -moz-box-shadow:0 2px 3px #DEDAD1; margin-bottom:20px; overflow:hidden;}
.bgcon a.bgpic { position:absolute; left:0; top:0; z-index:2;}
.bgcon i { position:absolute; background:url(../images/bg.png) no-repeat left bottom; width:42px; height:63px; top:0; left:318px; z-index:3;}
.bgcon em { position:absolute; bottom:0; right:0; background:url(../images/bg.png) no-repeat 0 0; width:170px; height:140px; z-index:3;}
.bgcon a.bgname { display:block; margin:28px 0 20px; font-size:18px; color:#666; font-weight:700;}

.bgcon p.p01 { color:#999;}
.bgcon p.p01 span { color:#F23D6A; margin-right:25px;}
.bgcon p.p01 span strong,.bgcon p.p01 b { font-size:28px;}
.bgcon p.p01 b { color:#6699CC}

.bgdiv { margin-top:30px; background:#EFEFEF; padding:30px 0 30px 44px;}
.bgdiv p.p02 span { font-size:18px; color:#999999; margin-right:20px;}
.bgdiv p.p02 a { font-size:28px;}
.bgdiv p.p03 { margin-top:20px;}
.bgdiv p.p03 { padding-left:90px; position:relative;}
.bgdiv p.p03 label { position:absolute; left:0; top:0; background:url(../images/bg.png) no-repeat right bottom; width:64px; height:19px;}
.bgdiv p.p03 span { display:block; margin-bottom:10px; font-size:14px; color:#999999;}

/*报告列表页   结束*/

/*试用列表页   开始*/
.syList { display:inline-block; width:100%; padding-bottom:100px;}
.syList .fleft { width:190px; background:white; position:relative;}
.syList .fleft i { position:absolute; right:0; top:0; background:url(../images/sy-y.png) repeat-y; width:6px; height:100%; z-index:2}
.syList .fright {float:right;width:1000px;}

.syL01 img { display:block;}
.syL02 {overflow:hidden;}
.syL02 p.p01 { text-align:center; padding:10px 0 15px; border-bottom:1px dotted #ccc;}
.syL02 p.p01 span { font-size:14px;}
.syL02 p.p01 strong { display:block; font-size:32px; font-family:Arial, Helvetica, sans-serif; line-height:32px;}
.syL02 ul li { margin:10px 10px 0 10px; height:65px; overflow:hidden; position:relative; padding-left:60px;}
.syL02 ul li p { margin-top:5px;}
.syL02 ul li a.pic { position:absolute; left:0; top:0;}
.syL02 ul li a.pic img { display:block;}
.syL02 ul li a.proName { display:block; overflow:hidden; white-space:nowrap;text-overflow: ellipsis; color:#26B8C4; margin-top:5px;}

.syL03 img { display:block}
.syL04 { background:url(../images/sy03.png) no-repeat; height:317px; position:relative;}
.syL04 a { position:absolute; width:64px; height:22px; left: 62px;top: 106px;}

.syL05 p { font-size:0}
.syL05 p span { font-weight:bold; color:white; height:40px; width:50%; text-align:center; line-height:40px; background:#333333; display:inline-block; font-size:12px; cursor:pointer}
.syL05 p span.onHover { background:#E8254C}
.brandlist { display:none; }
.brandlist ul { display:inline-block; width:100%;}
.brandlist ul li { display:inline; float:left; width:50%; width:95px; height:60px; overflow:hidden;}
.brandlist ul li img { display:block;}

.lunb { height:300px;}
.spt .btns { text-align:right; right:20px; height:21px;}
.spt .btns span { width:21px; height:21px; background:url(../images/syspan.png) no-repeat 0 0; text-align:center; color:black; line-height:32px; line-height:21px; font-weight:bold}


.sycon { background:white; padding:18px 0 10px 0;}
.sycon p.p01 { text-align:center; font-size:0}
.sycon p.p01 span { height:40px; width:200px; text-align:center; font-weight:bold; color:#ccc; line-height:40px; border:1px solid #ccc; display:inline-block; margin-left:-1px; font-size:12px; cursor:pointer;}
.sycon p.p01 span.onhover { position:relative; background:#E8254C; color:white; border-color:#E8254C;}

.syconlist { display:none; margin:10px 10px 0 10px; overflow:hidden}
.syconlist ul { display:inline-block; width:1000px;}
.syconlist ul li { width:210px; height:310px; overflow:hidden; float:left; display:inline; margin:10px 10px 10px 22px;}
.syconlist ul li a.proPic img { display:block;}
.syconlist ul li a.proN { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellispsis; margin:8px 0 5px 0;}
.syconlist ul li p { color:#999;}
.syconlist ul li a.sy { display:block; width:70px; height:30px; border:1px solid #ccc; background:#F4F4F4; color:#666; text-align:center; line-height:30px; margin-top:7px;}

/*试用列表页   结束*/

/*试用详情页 开始*/
.sproDOLR a.mfsq{display:inline-block; background:url(../images/abj05.png) no-repeat; margin-left:25px; margin-top:0;}
.sproDOLR a.ckxq{background:none; display:inline-block; height:auto; width:auto; color:#666; font-size:14px;margin:0;}
.fftj{padding:16px; background:#EAE3DD; position:relative;}
.fftj i{background:url(../images/ibj.png) no-repeat; width:59px; height:17px; line-height:17px; position:absolute; left:30px; top:16px; color:#fff; font-style:normal; text-indent:5px;}
.fftj p{text-indent:88px;}
.sproDOLR p.p03{font-size:16px; font-family:微软雅黑; margin-top:40px; text-align:center; color:#666;}
.sproDOLR p.p03 strong{color:#3a9937; font-size:24px; margin-right:5px;}
.sproDOLR p.p04{color:#666; text-align:center; margin-top:20px;}
.sproDOLR p.p04 label{font-size:24px; margin:0 5px;}
.sproDOLR p.p05{font-size:16px; font-family:\5fae\8f6f\96c5\9ed1; padding-top:40px; color:#666; text-align:center;}
.sproDOLR p.p05 strong{color:#3a9937; font-size:24px; margin-right:5px;}
.proDThR p span strong{color:#3a9937; margin-left:5px;}
/*试用详情页 结束*/

.proDO{width:100%; display:inline-block;}
.proDOL{float:left; width:1020px; box-shadow:0 0 10px #999; position:relative; z-index:10; height:auto;}
.proDOLL{float:left;padding:10px; width:440px;}
.proDOLLT{float:left;}

.sycon { background:white; padding:18px 0 10px 0;}
.sycon p.p01 { text-align:center; font-size:0}
.sycon p.p01 span { height:40px; width:200px; text-align:center; font-weight:bold; color:#ccc; line-height:40px; border:1px solid #ccc; display:inline-block; margin-left:-1px; font-size:12px; cursor:pointer;}
.sycon p.p01 span.onhover { position:relative; background:#E8254C; color:white; border-color:#E8254C;}

.syconlist { display:none; margin:10px 10px 0 10px; overflow:hidden}
.syconlist ul { display:inline-block; width:1000px;}
.syconlist ul li { width:200px; height:310px; overflow:hidden; float:left; display:inline; margin:10px 10px 10px 22px;}
.syconlist ul li a.proPic img { display:block;}
.syconlist ul li a.proN { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellispsis; margin:8px 0 5px 0;}
.syconlist ul li p { color:#999;}
.syconlist ul li a.sy { display:block; width:70px; height:30px; border:1px solid #ccc; background:#F4F4F4; color:#666; text-align:center; line-height:30px; margin-top:7px;}

.proDOLLB{display:inline-block;width:100%;position:relative; margin-top:10px;}
.proDOLLB a.shouc{position:absolute; right:10px; bottom:0;padding-left:20px; line-height:12px;}

.proDOLR{float:left; width:550px; background:#F8F8F8; height:auto;margin-top:10px}
.proDOLR h2{font-size:18px; font-family:微软雅黑; padding:18px 12px;}
.proDOLR p.p01{background:url(../images/pic01.png) no-repeat; height:44px;}
.proPrice{margin-top:20px;}
.proPriceT{background:url(../images/bj01.png) no-repeat; height:106px; width:536px;}
.proPriceT span.fleft{float:left; width:70px; text-align:right; color:#E7E7E7; margin-top:20px;}
.proPriceT p.p02{float:left; margin-left:40px;margin-top:6px;}
.proPriceT p.p02 strong{display:block;font-size:34px; color:#fff;}
.proPriceT p.p02 strong i,.proPriceT p span del i{font-family:微软雅黑; font-style:normal; margin-right:5px;}
.proPriceT p.p02 span{display:block;color:#E7E7E7; margin-top:3px;}
.proPriceT p.p02 span del{margin-left:5px;}
.proPriceT p.p02 span em{font-style:normal; margin-right:5px;}
.proPriceT p.p02 span em.add{background:url(../images/bj02.png) no-repeat right 5px; padding-right:10px; cursor:pointer; margin-left:5px; color:#fff;}

.proPriceB{height:26px; color:#999; background:#EAE3DD; text-indent:10px; line-height:26px; margin-top:-6px;}
.proPriceB span{color:#666; margin-left:18px;}

.proDOLR ul{padding:20px 20px 0 20px;}
.proDOLR ul li{display:inline-block; width:100%; margin-bottom:10px;}
.proDOLR ul li.first{padding-bottom:14px; border-bottom:1px solid #E0E0E0; overflow:hidden;}
.proDOLR ul li.first span{float:left; width:50%; text-align:center; border-left:1px solid #E0E0E0; margin-left:-1px; color:#999;}
.proDOLR ul li.first label{display:block; font-size:18px;}
.proDOLR ul li.first label.liblue{color:#0099FF;}
.proDOLR ul li.first label.red{color:#CC6666;}
.proDOLR ul li dl{display:inline-block;}
.proDOLR ul li dl dt{float:left;width:46px; color:#999; text-align:center;}
.proDOLR ul li dl dd{float:left; width:440px;}
.proDOLR ul li.size dl dt{height:26px; line-height:26px;}
.proDOLR ul li.size dl dd a{display:inline-block; height:24px; line-height:24px; padding:0 8px; border:1px solid #ccc; margin-right:5px;}
.proDOLR ul li.size dl dd a:hover,.proDOLR ul li.yanse dl dd a:hover{border:1px solid #C40008;}
.proDOLR ul li.size dl dd a.on,.proDOLR ul li.yanse dl dd a.on{background:url(../images/bj03.png) no-repeat right bottom;border:1px solid #C40008;}
.proDOLR ul li.yanse dl dt{height:32px; line-height:32px;}
.proDOLR ul li.yanse dl dd a{float:left; height:32px; width:32px; line-height:24px; padding:1px; border:1px solid #ccc; margin-right:5px; text-indent:-9999px;}
.proDOLR ul li.yanse dl dd a img{margin:1px auto;display:block;}
.proDOLR ul li.num dt,.proDOLR ul li.num dd{height:30px; line-height:30px; color:#999;}
.proDOLR ul li.num dd span{float:left;}
.proDOLR ul li.num dd span.span01{width:57px; height:30px; background:url(../images/bj04.png) no-repeat;}
.proDOLR ul li.num dd span.span01 input{float:left; width:40px; height:18px; line-height:18px; margin:7px 0 0 5px; background:transparent; border:none;} 
.proDOLR ul li.num dd span.span02{float:left; width:17px; margin:0 5px;}
.proDOLR ul li.num dd span.span02 a{float:left; width:17px; height:14px; background:url(../images/bj05.png) no-repeat;}
.proDOLR ul li.num dd span.span02 a.a01{background-position:0 0;}
.proDOLR ul li.num dd span.span02 a.a02{background-position:0 -14px; margin-top:2px;}
.proDOLR ul li.num dd label{margin:0 5px;}
.proDOLR ul li a.goTobuy,.proDOLR ul li a.j_gwc{float:left; width:195px; height:45px; line-height:45px; text-align:center; font-size:14px; color:#fff; margin-right:10px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}
.proDOLR ul li a.goTobuy{background:#D7352B;}
.proDOLR ul li a.pastbuy{background:#EAE3DD;}
.proDOLR ul li a.j_gwc{background:url(../images/gwc.png) no-repeat 25px center #999933;}



.proDTB{height:46px;line-height:46px; background:#F1EFEC; text-align:right;}
.proDTB span.sp01{display:inline-block; height:22px; line-height:22px; color:#fff; background:#F17372; text-align:center; width:111px; margin-top:12px;}
.proDTB span.sp02{color:#999; margin-left:10px;}
.proDTB span.sp03{color:#999;}
.proDTB strong{ color:#A50000; font-size:14px;}
.proDTB strong i{font-style:normal; font-family:微软雅黑; font-size:12px;}
.proDTB input{display:inline-block; width:44px; height:22px; line-height:22px; padding-left:3px; border:1px solid #ccc; background:#fff; vertical-align:middle;}
.proDTB a{display:inline-block; height:24px; line-height:24px; padding:0 15px; color:#fff; margin-right:10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.proDTB a.a01{background:#D7352B;}
.proDTB a.a02{background:#999933;}

.proDTh{display:inline-block; width:100%; margin-top:10px;}
.proDThL{float:left; width:218px; border:1px solid #EEEAE5; border-top:none;}
.proDThL h3{height:36px; line-height:36px; background:#F1EFEC; text-indent:10px; border-top:2px solid #A60000; font-size:14px; font-weight:100;}
.proDThR{float:right; width:958px;}
.proDThLC p{height:32px; line-height:32px;}
.proDThLC p span{float:left; width:50%; background:#e7e7e7; text-align:center; color:#666; cursor:pointer;}
.proDThLC p span.onHover{background:#f9f9f9;}

.proDThLCon ul { display:inline-block; width:100%;}
.proDThLCon ul li{padding:10px 0; border-bottom:1px solid #EEEAE5; margin-bottom:-1px; position:relative; float:left; width:100%;}
.proDThLCon ul li strong{position:absolute; top:10px; left:3px; background:#666; width:20px; height:24px; color:#fff; text-align:center; line-height:24px;}
.proDThLCon ul li dl{ float:left; margin-left:28px;}
.proDThLCon ul li dl dt{float:left; width:62px;}
.proDThLCon ul li dl dt a{display:block; width:60px; height:60px;border:1px solid #ccc;}
.proDThLCon ul li dl dd{float:left; width:100px; margin-left:10px;}
.proDThLCon ul li dl dd a{display:block; white-space:nowrap; overflow:hidden; color:#999;}
.proDThLCon ul li dl dd p{color:#A60000;font-family:微软雅黑;}
.proDThLCon ul li dl dd p i{font-family:微软雅黑; font-style:normal;}
.proDThLCon ul li dl dd span{color:#999;}
.proDThLCon ul li dl dd span label{color:#26A8FE; font-weight:bold; margin:0 5px;}

.proDThR{border:1px solid #EEEAE5;}
.proDThR p.header{height:36px; line-height:36px; border-bottom:1px solid #A60000;}
.proDThR p.header span{float:left; height:35px; line-height:35px; padding:0 38px; background:url(../images/spanbj.png) no-repeat left center; margin-left:-1px; cursor:pointer;}
.proDThR p.header span.onHover{ border-top:2px solid #A60000; background:#fff; margin:0; border-right:1px solid #EEEAE5;border-left:1px solid #EEEAE5; position:relative;}

.proDThRC .proBrand{height:60px; border-bottom:1px solid #EEEAE5; text-indent:40px;}
.proDThRC .proBrand span{float:left; height:60px; line-height:60px;}
.proDThRC .proBrand a{float:left;}
.proDThRC .proBrand a.name{color:#3a9937;height:60px; line-height:60px; margin:0 10px;}
.proDThRC .proBrand a.guanzhu{background:url(../images/abj03.png) no-repeat; width:81px; height:28px; margin-top:13px;}

.proCans{padding:26px;border-bottom:1px solid #EEEAE5;}
.proCans h4{font-size:12px;}
.proCans ul{display:inline-block;}
.proCans ul li{float:left; width:292px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-right:10px; color:#666; line-height:25px;} 

.proDOR{float:left; width:172px; background:#eee; height:605px;}
.proDOR h4{background:url(../images/repeat-x.png) repeat-x center center; height:17px; margin:30px 0; position:relative;}
.proDOR h4 span{position:absolute; height:17px; line-height:17px; color:#999; width:72px; left:50%; margin-left:-36px; text-align:center; background:#eee; font-weight:100;}
.proDORC{width:140px; margin:0 auto; height:490px; overflow:hidden;}

.topdcon { height:474px; overflow:hidden; position:relative;}
.topdcon ul { position:absolute;}
.topdcon li { width:100%;}
.topdcon li dd { margin-bottom:18px;}
.topdcon li dd img { display:block;}
.preNext { position:relative; height:13px;}
.preNext a { position:absolute; width:22px; height:13px;background:url(../images/bj06.png) no-repeat 0 0; bottom:0; overflow:hidden; text-indent:-9999px; text-align:left;}
.preNext a.pre { left:19px}
.preNext a.next {right:19px;background:url(../images/bj06.png) no-repeat 0 -13px;}

.tongy {width:100%; height:100%; position:relative; overflow:hidden;}
.tongy ul,.tongy dl {height:100%; position:absolute;}
.tongy ul li,.tongy dl dd {float:left; height:100%; overflow:hidden; position:relative; width:100%;}
.tongy ul li p { width:105px; margin:0 auto; height:395px; overflow:hidden;}
.tongy ul li p a { display:block; border-bottom:1px solid #ccc; padding:10px 0;}
.tongy ul li p a img { display:block; margin:0 auto;}
.tongy .btns {position:absolute; width:100%; height:10px; bottom:10px; text-align:center;}
.tongy .btns span {display:inline-block; _display:inline; _zoom:1; width:5px; height:5px; _font-size:0; margin-right:5px; cursor:pointer; background:url(../images/btn.png) no-repeat 0 0;vertical-align: top;}

.fleft { float:left;}
.fleft img { display:block;}

.proLTop{height:40px; line-height:40px;}
.proLTop p{color:#666;}
.proLTop p a{color:#666;}
.proLTop p i{margin:0 5px; font-style:normal;}
.proLTop span{color:#999;}
.proLTop span label{margin:0 5px;}
